[Unit]
Description = tv sensor
After = remote-fs.target network-online.target mysql.service mariadb.service
Wants = network-online.target

[Service]
Type = simple
TimeoutStopSec = 20
ExecStart = /bin/bash /home/{{ user }}/Scripts/tvswitch.sh
# ExecStopPost = /usr/bin/mediacenter stop
Restart = on-abort

[Install]
WantedBy = multi-user.target
