<?xml version="1.0" encoding="utf-8"?>
<advancedsettings>
	<videodatabase>
		<type>mysql</type>
		<name>MyVideos</name>
		<host>{{ mysql_ip }}</host>
		<port>{{ mysql_port }}</port>
		<user>{{ mysql_user }}</user>
		<pass>{{ mysql_pass }}</pass>
	</videodatabase>
	<videolibrary></videolibrary>
	<musicdatabase>
		<type>mysql</type>
		<name>MyMusic</name>
		<host>{{ mysql_ip }}</host>
		<port>{{ mysql_port }}</port>
		<user>{{ mysql_user }}</user>
		<pass>{{ mysql_pass }}</pass>
	</musicdatabase>
</advancedsettings>