mqtt:
  host: 192.168.178.250
  port: 1883
  user: "Kodi"
  password: "VPU33SQsf80XOpW1PkRU"
  topic_prefix: home/woonkamer

gpio_modules:
  - name: raspberrypi
    module: raspberrypi

digital_outputs:
  - name: amp
    module: raspberrypi
    pin: 27
    on_payload: "ON"
    off_payload: "OFF"
    initial: low  # This optional value controls the initial state of the pin before receipt of any messages from MQTT. Valid options are 'low' and 'high'.
    retain: yes # This option value controls if the message is retained. Default is no.
