[Unit]
Description=MQTT GPIO
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python -m pi_mqtt_gpio.server /home/osmc/config.yml
User=root
WorkingDirectory=/home/osmc
Restart=on-failure

[Install]
WantedBy=multi-user.target
